@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  font-family: 'Montserrat', sans-serif;
}

main {
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
  align-content: center;
  margin-left: 20rem;
  margin-right: 15rem;
}

footer {
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  border-top: 3px solid black;
}

footer p {
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.form {
  font-family: "Montserrat", sans-serif;
  padding: 2rem;
  font-size: 1.6rem;
  color: #ff466e;
  width: 32rem;
  display: block;
  align-content: center;
  justify-content: center;
}

.form input {
  border: none;
  border-bottom: 0.4rem solid black;
  background-color: transparent;
  outline: none;
  width: 50vw;
  color: black;
  padding-top: 1rem;
}

.form textarea {
  border: none;
  border-bottom: 0.4rem solid black;
  background-color: transparent;
  width: 50vw;
  height: auto;
  resize: none;
  margin-bottom: 2vh;
  font-family: "Montserrat", sans-serif;
}

.form .button {
  border: none;
  background-color: #ff466e;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.5rem;
}

input::placeholder {
  color: black;
  font-size: 1.5rem;
}

textarea::placeholder {
  color: black;
  font-size: 1.5rem;
}

#mapa {
  height: auto;
  width: 32rem;
  justify-content: center;
}

.bag {
  font-size: 2rem;
}

.buscador {
  width: 27rem;
  display: flex;
  align-items: center;
  border-radius: 0.1rem solid black;
  font-size: 0.5rem;
  letter-spacing: 0.15rem;
  outline: none;
  margin-right: 1rem;
}

.buscador input::placeholder {
  font-size: 1rem;
}

.buscador ion-icon {
  font-size: 1.5rem;
}

.break {
  display: flex;
}

.formNuevo {
  display: block;
  padding: 1.5rem;
  font-size: 2rem;
}

header {
  margin: 0;
  padding: 1rem;
  width: 100vw;
  overflow-x: hidden;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  border-bottom: 2px solid black;
  position: sticky;
}

header nav {
  display: inline-flex;
  float: right;
}

ul li {
  z-index: 2;
  list-style: none;
  display: inline-flex;
  padding: 1rem;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

a {
  list-style: none;
  padding: 1rem;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.menuBoton {
  position: relative;
  display: flex;
  cursor: pointer;
}

.menuBurga {
  background: black;
  border-radius: 5px;
  width: 50px;
  height: 6px;
  margin: 1rem;
}

.menuBurga::before,
.menuBurga::after {
  content: '';
  position: absolute;
  background: black;
  border-radius: 5px;
  width: 50px;
  height: 6px;
}

.menuBurga::before {
  transform: translateY(-16px);
}

.menuBurga::after {
  transform: translateY(16px);
}

.menuBoton.open .menuBurga {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menuBoton.open .menuBurga::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menuBoton.open .menuBurga::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.dropdown-menu ul {
  position: absolute;
  overflow: hidden;
  transition: all 1s;
  max-height: -100%;
}

.dropdown-menu ul.show {
  max-height: 100%;
}

.contenedor-perfumes {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
}

.perfume {
  padding-right: 2rem;
}

.perfume h3,
.perfume h4 {
  align-content: center;
  justify-content: center;
  text-align: center;
}

.perfume img {
  max-width: 15rem;
  max-height: 15rem;
}

.contenedorProductos {
  max-width: 50rem;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
}

.headerProductos {
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  border-bottom: 0.25rem solid black;
}

.nombre-producto {
  width: 50%;
  align-items: center;
}

.precio-producto {
  width: 20%;
  align-items: center;
}

.cantidad-producto {
  width: 15%;
  align-items: center;
}

.total {
  width: 15%;
  display: flex;
  align-items: center;
  border-bottom: 0.25rem solid black;
  justify-content: flex-end;
}

.productoAlCarrito {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 4px solid black;
}

.productos {
  max-width: 50rem;

  display: flex;
  flex-wrap: wrap;
}

.productos img {
  width: 7rem;
  height: 8rem;
}

.precio,
.cantidad {
  border-bottom: 0.25rem solid black;
  display: flex;
  align-items: center;
  max-width: 30%;
}

.bagTotalContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0.6rem 0;
}

.bagTotalTitle {
  width: 30%;
}

.bagTotal {
  width: 20%;
}

.container,
.container-products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  padding-bottom: 6.25rem;
}

.image {
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
  overflow: hidden;
}

.sumarACarrito {
  text-align: center;
  justify-items: center;
  align-items: center;
  color: red;
}

.containerSumaTotal {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0.6rem 0;
}

.textoSuma {
  width: 25%;
}

.sumaProductos {
  width: 25%;
}